.boxDiv {
    @media (max-width: 991px) {
        margin-left: -75px !important;
        margin-top: -200px !important;
    }

    .mapBox {
        min-width: 200px;
        // min-height: 384.51px;
        width: 100%;
        height: 100%;
        @media (max-width: 991px) {
            min-width: 150px !important;
            height: 200px !important;
        }

        background: #fafbff;
        transition: transform 0.2s;
        border: 0.8px solid #cdd6e9;
        border-radius: 5px;

        .img3 {
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .itemimg {
                height: 150px;
                @media (max-width: 991px) {
                    height: 100px;
                }
                // @media (max-width: 700px) {
                //     height: 70px !important;
                // }
                // @media (max-width: 575px) {
                //     height: 50px !important;
                // }
            }
            img {
                width: 100%;
                // height: 100%;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
            }

            .now {
                position: absolute;
                top: 17.4px;
                left: 13.73px;

                padding: 5px 10px;

                font-family: Poppins, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 10.9861px;
                line-height: 9px;
                color: #4f4f4f;
                text-align: center;

                border: none;
                border-radius: 1px;
                background: #ffffff;
            }

            .play {
                position: absolute;
                top: 42%;
                left: 0;
                width: 100%;
                border: none;
                outline: none;
                background: transparent;

                img {
                    width: 48px;
                    height: 48px;
                    object-fit: contain;
                }
            }

            .heart {
                position: absolute;
                top: 18.31px;
                right: 22.25px;

                display: flex;
                align-items: center;
                justify-content: center;

                border: none;
                background: transparent;

                button {
                    border: none;
                    outline: none;
                    background: transparent;

                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }

            .voice-and-time {
                position: absolute;
                right: 10px;
                bottom: 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                border: none;
                background: transparent;

                p {
                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12.8171px;
                    line-height: 19px;
                    text-align: right;
                    color: #ffffff;
                    margin-bottom: 0;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border: none;
                    outline: none;
                    background: transparent;

                    img {
                        width: 18px;
                        height: 18px;
                        object-fit: contain;
                    }
                }
            }

            .carousel-indicators {
                li {
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    border: 1.22px solid #ffffff;
                    background: transparent;
                }

                .active {
                    background: #ffffff;
                }
            }

            a {
                display: none;
            }
        }

        .details {
            padding: 5px 10px;

            .detail {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .amount {
                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16.4792px;
                    line-height: 25px;
                    display: flex;
                    align-items: center;
                    color: #272c37;
                }

                .bed {
                    margin-left: 30px;

                    span {
                        font-family: Poppins, Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12.8171px;
                        line-height: 19px;
                        color: #272c37;
                        margin-left: 5px;
                        vertical-align: bottom;
                        @media (max-width: 1088) {
                            font-size: 8px;
                        }
                    }
                }

                .bath {
                    span {
                        font-family: Poppins, Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12.8171px;
                        line-height: 19px;
                        text-align: right;
                        color: #272c37;
                        margin-left: 5px;
                        vertical-align: bottom;
                    }
                }
            }

            .address {
                font-family: Poppins, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14.6481px;
                line-height: 20px;
                color: #272c37;
            }
            @media (max-width: 1260px) {
                .amount {
                    font-size: 16px !important;
                }
                .bed {
                    margin-left: 10px !important;
                }
            }
        }
    }
}
