.submitoffer {
    // padding-top: 150px;

    .submit {
        .row {
            justify-content: center;

            .col {
                h2{
                    font-size: 300px;
                    color: red;
                }
            }
        }
    }
}
